<footer class="footer">
  <small>
    <a href="http://telecomservicebureau.com/">Telecom Service Bureau</a>
    by Greg Finnie
  </small>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li><a href="http://telecomservicebureau.com/">News</a></li>
    </ul>
  </nav>
</footer>